<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h4 class="m-subheader__title m-subheader__title">
        Track project status here
      </h4>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Basic information
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item"></li>
          </ul>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><strong>Project name:</strong></li>
        <li class="list-group-item"><strong>Description</strong></li>
        <li class="list-group-item"><strong>Start date</strong></li>
        <li class="list-group-item"><strong>End date</strong></li>
      </ul>
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Stages
            </h3>
          </div>
        </div>
      </div>
      <!--begin: Datatable -->
      <div
        id="m_table_1_wrapper"
        class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer"
      >
        <div class="row">
          <div class="col-sm-12">
            <table
              class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline collapsed"
              id="m_table_1"
              role="grid"
              aria-describedby="m_table_1_info"
            >
              <thead>
                <tr role="row">
                  <th
                    tabindex="0"
                    aria-controls="m_table_1"
                    rowspan="1"
                    colspan="1"
                  >
                    Stage type
                  </th>
                  <th
                    tabindex="1"
                    aria-controls="m_table_1"
                    rowspan="1"
                    colspan="1"
                  >
                    Stage name
                  </th>
                  <th
                    tabindex="2"
                    aria-controls="m_table_1"
                    rowspan="1"
                    colspan="1"
                  >
                    Start date
                  </th>
                  <th
                    tabindex="3"
                    aria-controls="m_table_1"
                    rowspan="1"
                    colspan="1"
                  >
                    End date
                  </th>
                  <th
                    class="sorting"
                    tabindex="4"
                    aria-controls="m_table_1"
                    style="width: 105px"
                  >
                    Documents
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    sth
                  </td>
                  <td>
                    sth
                  </td>
                  <td>
                    sth
                  </td>
                  <td>
                    sth
                  </td>
                  <td
                    style="width: 105px"
                    class="d-flex justify-content-center"
                  >
                    <a
                      href="#"
                      class="btn btn-accent m-btn m-btn--custom m-btn--icon-only m-btn--pill m-btn--icon m-btn--air"
                    >
                      <i class="la la-folder"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div
              class="dataTables_info"
              id="m_table_1_info"
              role="status"
              aria-live="polite"
            >
              Showing 1 to 10 of 50 entries
            </div>
          </div>
          <div class="col-sm-12 col-md-7 dataTables_pager">
            <div class="dataTables_length" id="m_table_1_length">
              <label
                >Display
                <select
                  name="m_table_1_length"
                  aria-controls="m_table_1"
                  class="form-control form-control-sm"
                  ><option value="5">5</option
                  ><option value="10">10</option
                  ><option value="25">25</option
                  ><option value="50">50</option></select
                ></label
              >
            </div>
            <div
              class="dataTables_paginate paging_simple_numbers"
              id="m_table_1_paginate"
            >
              <ul class="pagination">
                <li
                  class="paginate_button page-item previous disabled"
                  id="m_table_1_previous"
                >
                  <a
                    href="#"
                    aria-controls="m_table_1"
                    data-dt-idx="0"
                    tabindex="0"
                    class="page-link"
                    ><i class="la la-angle-left"></i
                  ></a>
                </li>
                <li class="paginate_button page-item active">
                  <a
                    href="#"
                    aria-controls="m_table_1"
                    data-dt-idx="1"
                    tabindex="0"
                    class="page-link"
                    >1</a
                  >
                </li>
                <li class="paginate_button page-item next" id="m_table_1_next">
                  <a
                    href="#"
                    aria-controls="m_table_1"
                    data-dt-idx="6"
                    tabindex="0"
                    class="page-link"
                    ><i class="la la-angle-right"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
