<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h4 class="m-subheader__title m-subheader__title">
        Track project status here
      </h4>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Basic Example
          </h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <ul class="m-portlet__nav">
          <li class="m-portlet__nav-item">
            <a
              href="#"
              class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air"
            >
              <span>
                <i class="la la-plus"></i>
                <span>
                  New record
                </span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="m-portlet__body">
      <!--begin: Datatable -->
      <div
        id="m_table_1_wrapper"
        class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer"
      >
        <div class="row">
          <div class="col-sm-12">
            <table
              class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline collapsed"
              id="m_table_1"
              role="grid"
              aria-describedby="m_table_1_info"
            >
              <thead>
                <tr role="row">
                  <th
                    class="sorting_desc"
                    tabindex="0"
                    aria-controls="m_table_1"
                    rowspan="1"
                    colspan="1"
                    style="width: 59.5px;"
                    aria-sort="descending"
                    aria-label="

              OrderID
            : activate to sort column ascending"
                  >
                    Stage type
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="m_table_1"
                    rowspan="1"
                    colspan="1"
                    style="width: 113.5px;"
                    aria-label="
              Country
            : activate to sort column ascending"
                  >
                    Stage name
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="m_table_1"
                    rowspan="1"
                    colspan="1"
                    style="width: 144.5px;"
                    aria-label="
              ShipCity
            : activate to sort column ascending"
                  >
                    Start date
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="m_table_1"
                    rowspan="1"
                    colspan="1"
                    style="width: 179.5px;"
                    aria-label="
              ShipAddress
            : activate to sort column ascending"
                  >
                    End date
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="m_table_1"
                    rowspan="1"
                    colspan="1"
                    style="width: 138.5px; display: none;"
                    aria-label="
              CompanyAgent
            : activate to sort column ascending"
                  >
                    Documents
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    sth
                  </td>
                  <td>
                    sth
                  </td>
                  <td>
                    sth
                  </td>
                  <td>
                      sth
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div
              class="dataTables_info"
              id="m_table_1_info"
              role="status"
              aria-live="polite"
            >
              Showing 1 to 10 of 50 entries
            </div>
          </div>
          <div class="col-sm-12 col-md-7 dataTables_pager">
            <div class="dataTables_length" id="m_table_1_length">
              <label
                >Display
                <select
                  name="m_table_1_length"
                  aria-controls="m_table_1"
                  class="form-control form-control-sm"
                  ><option value="5">5</option
                  ><option value="10">10</option
                  ><option value="25">25</option
                  ><option value="50">50</option></select
                ></label
              >
            </div>
            <div
              class="dataTables_paginate paging_simple_numbers"
              id="m_table_1_paginate"
            >
              <ul class="pagination">
                <li
                  class="paginate_button page-item previous disabled"
                  id="m_table_1_previous"
                >
                  <a
                    href="#"
                    aria-controls="m_table_1"
                    data-dt-idx="0"
                    tabindex="0"
                    class="page-link"
                    ><i class="la la-angle-left"></i
                  ></a>
                </li>
                <li class="paginate_button page-item active">
                  <a
                    href="#"
                    aria-controls="m_table_1"
                    data-dt-idx="1"
                    tabindex="0"
                    class="page-link"
                    >1</a
                  >
                </li>
                <li class="paginate_button page-item ">
                  <a
                    href="#"
                    aria-controls="m_table_1"
                    data-dt-idx="2"
                    tabindex="0"
                    class="page-link"
                    >2</a
                  >
                </li>
                <li class="paginate_button page-item ">
                  <a
                    href="#"
                    aria-controls="m_table_1"
                    data-dt-idx="3"
                    tabindex="0"
                    class="page-link"
                    >3</a
                  >
                </li>
                <li class="paginate_button page-item ">
                  <a
                    href="#"
                    aria-controls="m_table_1"
                    data-dt-idx="4"
                    tabindex="0"
                    class="page-link"
                    >4</a
                  >
                </li>
                <li class="paginate_button page-item ">
                  <a
                    href="#"
                    aria-controls="m_table_1"
                    data-dt-idx="5"
                    tabindex="0"
                    class="page-link"
                    >5</a
                  >
                </li>
                <li class="paginate_button page-item next" id="m_table_1_next">
                  <a
                    href="#"
                    aria-controls="m_table_1"
                    data-dt-idx="6"
                    tabindex="0"
                    class="page-link"
                    ><i class="la la-angle-right"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
