<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h4 class="m-subheader__title m-subheader__title">
        Track project status here
      </h4>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">

          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Project details
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="m-widget12">
              <div class="m-widget12__item">
                <span class="m-widget12__text1">
                  Name
                  <br>
                  <span>
                    {{model.name}}
                  </span>
                </span>
                <span class="m-widget12__text2">
                  Description
                  <br>
                  <span>
                    {{model.description}}
                  </span>
                </span>
              </div>
              <div class="m-widget12__item">
                <span class="m-widget12__text1">
                  Start date
                  <br>
                  <span>
                    {{model.startDate}}
                  </span>
                </span>
                <span class="m-widget12__text2">
                  End date
                  <br>
                  <span>
                    {{model.endDate}}
                  </span>
                </span>
              </div>
            </div>
          </div>
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Stages
            </h3>
          </div>
        </div>
      </div>

      <div class="m-portlet__body">
          <!--Begin::Tab Content-->
          <div class="tab-content">
            <!--begin::tab 1 content-->
            <div class="tab-pane active" id="m_widget11_tab1_content">
              <!--begin::Widget 11-->
              <div class="m-widget11">
                <div class="table-responsive">
                  <!--begin::Table-->
                  <table class="table">
                    <!--begin::Thead-->
                    <thead>
                      <tr>
                        <td class="m-widget11__app">
                          Stage
                        </td>
                        <td class="m-widget11__sales">
                          Start date
                        </td>
                        <td class="m-widget11__price">
                          End date
                        </td>
                        <td class="m-widget11__total m--align-right">
                          Documents
                        </td>
                      </tr>
                    </thead>
                    <!--end::Thead-->
    <!--begin::Tbody-->
                    <tbody>
                      <tr *ngFor="let stage of model.processes">
                        <td>
                          <span class="m-widget11__title">
                            {{stage.name}}
                          </span>
                          <span class="m-widget11__sub">
                            {{stage.processType}}
                          </span>
                        </td>
                        <td>
                          {{stage.startDate}}
                        </td>
                        <td>
                          {{stage.endDate}}
                        </td>
                        <td class="m--align-right m--font-brand">
                            <a [routerLink]="['/project',model._id,'document',stage._id]"
                            class="btn btn-accent m-btn m-btn--custom m-btn--icon-only m-btn--pill m-btn--icon m-btn--air"
                          >
                            <i class="la la-folder"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                    <!--end::Tbody-->
                  </table>
                  <!--end::Table-->
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
