<div class="m-subheader">
  <div class="d-flex align-items-center">
      <a [routerLink]="['/project',project._id,'processes']" class="btn btn-accent m-btn m-btn--custom m-btn--icon-only m-btn--pill m-btn--icon m-btn--air mr-3">
          <i class="la la-fw" aria-hidden="true" title="Return" ></i>
      </a>
      <div class="mr-auto">
          <h4 class="m-subheader__title m-subheader__title">
              {{process.name}}
          </h4>
      </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="container">
        <div class="row">
            <div *ngFor="let document of process.docs" class="col-md-3 col-sm-4 col-lg-2">
                <a [routerLink]="['/project',project._id,'document',process._id]" class="decoration-none text-dark">
                    <div class="card my-3" >
                        <img src="../../../../../../../assets/img/pdf-icon.png" class="img">
                        <label class="text-center font-weight-bold cursor-pointer text-dark">{{document.docName}}</label>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
