<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>version:</label>
    <input type="text" required name="version" id="version" class="form-control m-input"
      placeholder="Enter project version" formControlName="version">

    <span class="m-form__help text-danger" *ngIf="!form?.controls.version.valid && submitted">
      Please enter a project version
    </span>
  </div>
  <div class="form-group">
    <label>executiveSummary:</label>
    <textarea required name="executiveSummary" id="executiveSummary" class="form-control m-input"
      placeholder="Enter project executiveSummary" formControlName="executiveSummary"></textarea>

    <span class="m-form__help text-danger" *ngIf="!form?.controls.executiveSummary.valid && submitted">
      Please enter a project executiveSummary
    </span>
  </div>
  <div class="form-group">
    <label>reasons:</label>
    <textarea required name="reasons" id="reasons" class="form-control m-input"
      placeholder="Enter project reasons" formControlName="reasons"></textarea>

    <span class="m-form__help text-danger" *ngIf="!form?.controls.reasons.valid && submitted">
      Please enter a project reasons
    </span>
  </div>
  <div class="form-group">
    <label>options:</label>
    <textarea required name="options" id="options" class="form-control m-input"
      placeholder="Enter project options" formControlName="options"></textarea>

    <span class="m-form__help text-danger" *ngIf="!form?.controls.options.valid && submitted">
      Please enter a project options
    </span>
  </div>
  <div class="form-group">
    <label>expectedBenefitsAndDisbenefits:</label>
    <textarea required name="expectedBenefitsAndDisbenefits" id="expectedBenefitsAndDisbenefits" class="form-control m-input"
      placeholder="Enter project expectedBenefitsAndDisbenefits" formControlName="expectedBenefitsAndDisbenefits"></textarea>

    <span class="m-form__help text-danger" *ngIf="!form?.controls.expectedBenefitsAndDisbenefits.valid && submitted">
      Please enter a project expectedBenefitsAndDisbenefits
    </span>
  </div>
  <div class="form-group">
    <label>risks:</label>
    <textarea required name="risks" id="risks" class="form-control m-input"
      placeholder="Enter project risks" formControlName="risks"></textarea>

    <span class="m-form__help text-danger" *ngIf="!form?.controls.risks.valid && submitted">
      Please enter a project risks
    </span>
  </div>
  <div class="form-group">
    <label>cost:</label>
    <textarea required name="cost" id="cost" class="form-control m-input"
      placeholder="Enter project cost" formControlName="cost"></textarea>

    <span class="m-form__help text-danger" *ngIf="!form?.controls.cost.valid && submitted">
      Please enter a project cost
    </span>
  </div>
  <div class="form-group">
    <label>timescales:</label>
    <textarea required name="timescales" id="timescales" class="form-control m-input"
      placeholder="Enter project timescales" formControlName="timescales"></textarea>

    <span class="m-form__help text-danger" *ngIf="!form?.controls.timescales.valid && submitted">
      Please enter a project timescales
    </span>
  </div>
  <div class="form-group">
    <label>investmentAppraisal:</label>
    <textarea required name="investmentAppraisal" id="investmentAppraisal" class="form-control m-input"
      placeholder="Enter project investmentAppraisal" formControlName="investmentAppraisal"></textarea>

    <span class="m-form__help text-danger" *ngIf="!form?.controls.investmentAppraisal.valid && submitted">
      Please enter a project investmentAppraisal
    </span>
  </div>
  <div>
    <button type="submit" name="submit" id="submit" class="btn btn-block btn-info">Submit</button>
  </div>
</form>