<!-- begin::Header -->
<header id="m_header" class="m-grid__item m-header"  minimize="minimize" minimize-offset="200" minimize-mobile-offset="200" appunwraptag="" >
	<div class="m-header__top">
		<div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
			<div class="m-stack m-stack--ver m-stack--desktop">
				<!-- begin::Brand -->
				<div class="m-stack__item m-brand">
					<div class="m-stack m-stack--ver m-stack--general m-stack--inline">
						<div class="m-stack__item m-stack__item--middle m-brand__logo">
							<a routerLink="/" class="m-brand__logo-wrapper">
								<img alt="" src="./assets/demo/demo2/media/img/logo/logo.png"/>
							</a>
						</div>
					</div>
				</div>
				<div ngbDropdown class="d-inline-block">
					<button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Project</button>
					<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
						<ul class="list-group">
							<li *ngFor="let item of projects" class="list-group-item">
							  <a [routerLink]="['/project', item._id, 'status']" class="text-dark text-decoration-none">
								{{item.name}}
							  </a>
							</li>
						</ul>
					</div>
				</div>
				<!-- end::Brand -->		 				<!-- begin::Topbar -->
				<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
					<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
						<div class="m-stack__item m-topbar__nav-wrapper">
							<ul class="m-topbar__nav m-nav m-nav--inline">
								<li style="display: flex; align-items: center;" class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
									<button (click)="logout()" class="btn m-btn--pill    btn-outline-metal m-btn m-btn--outline-2x ">
										Logout
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end::Topbar -->
			</div>
		</div>
	</div>
	<div class="m-header__bottom">
		<div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
			<div class="m-stack m-stack--ver m-stack--desktop">
				<!-- begin::Horizontal Menu -->
				<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
					<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light" id="m_aside_header_menu_mobile_close_btn">
						<em class="la la-close"></em>
					</button>
					<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light"  >
						<ul class="m-menu__nav  m-menu__nav--submenu-arrow">
							<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   aria-haspopup="true">
								<a  [routerLink]="['/project',project._id,'status']" class="m-menu__link">
									<span class="m-menu__item-here"></span>
									<span class="m-menu__link-text">
										Project status
									</span>
								</a>
							</li>
							<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   aria-haspopup="true">
								<a  [routerLink]="['/project',project._id,'processes']" class="m-menu__link">
									<span class="m-menu__item-here"></span>
									<span class="m-menu__link-text">
										My documents
									</span>
								</a>
							</li>
							<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   aria-haspopup="true">
								<a  [routerLink]="['/project',project._id,'notifications']" class="m-menu__link">
									<span class="m-menu__item-here"></span>
									<span class="m-menu__link-text">
										Notifications
									</span>
								</a>
							</li>
							
						</ul>
					</div>
				</div>
				<!-- end::Horizontal Menu -->
			</div>
		</div>
	</div>
</header>
<!-- end::Header -->
