<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login">
    <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
      <div class="m-login__container" id="container">
        <div class="m-login__logo">
         <h2> PRINCE2 Management System </h2>
        </div>
        <div class="m-login__signin">
          <div class="m-login__head">
            <h3 class="m-login__title">
              Please sign up to continue
            </h3>
          </div>

          <div *ngIf="success" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-success alert-dismissible fade show" role="alert">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              Sign up successful, you will soon be redirected to login page....
            </div>
            <div class="m-alert__close">
              <button type="button" class="close" (click)="close()" aria-label="Close"></button>
            </div>
          </div>
          <div *ngIf="error" class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-danger alert-dismissible fade show" role="alert">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              An error has occured, please try again.
            </div>
            <div class="m-alert__close">
              <button type="button" class="close" (click)="close()" aria-label="Close"></button>
            </div>
          </div>
          <form class="m-login__form m-form" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group m-form__group">
                <input
                  class="form-control m-input"
                  type="text"
                  placeholder="First name"
                  formControlName="firstName"
                  id="input"
                />
              </div>
              <div class="form-group m-form__group">
                  <input
                    class="form-control m-input"
                    type="text"
                    placeholder="Last name"
                    formControlName="lastName"
                  id="input"

                  />
                </div>
              <div class="form-group m-form__group">
                <input
                  class="form-control m-input"
                  type="text"
                  placeholder="Email"
                  formControlName="email"
                  autocomplete="off"
                  id="input"

                />
              </div>
              <div class="form-group m-form__group">
                <input
                  class="form-control m-input"
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                  id="input"

                />
              </div>
              <div class="m-login__form-action">
                <button
                  id="m_login_signup_submit"
                  type="submit"
                  class="btn btn-accent m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn"
                >
                  Sign Up
                </button>
                &nbsp;&nbsp;
                <button
                  id="m_login_signup_cancel"
                  type="reset"
                  class="btn btn-danger m-btn m-btn--pill m-btn--custom  m-login__btn"
                >
                  Reset
                </button>
              </div>
            </form>
        </div>
        <div class="m-login__account ">
          <span class="m-login__account-msg text-dark">
           Already have an account?
          </span>
          &nbsp;&nbsp;
          <a routerLink="/login" id="m_login_signup" class="text-info m-link m-link--light m-login__account-link">
            Sign In
          </a>
        </div>
      </div>
    </div>
  </div>


