<div class="card">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <label class="navbar-brand cursor-pointer" (click)="openParent()"><-</label>
    <label class="navbar-brand cursor-pointer" *ngFor="let iterator of path" (click)="setFolder(iterator)">
      {{iterator.name}} >
    </label>
  </nav>
  <div class="container">
    <div class="row">
      <div *ngFor="let iterator of folder.folders" class="col-md-4 col-sm-6 col-lg-3 cursor-pointer" (click)="setFolder(iterator)">
        <div class="card">
          <img src="/src/assets/img/">
          {{iterator.name}}
        </div>
      </div>
    </div>
  </div>
</div>
