.cursor-pointer{
  cursor: pointer;
}
.border-on-hover:hover{
  background:rgba(51,181,229,.1);
  border-radius: 10px;
  padding: 5px;
}
.tala3{
  position: relative;
  top:-4px;
}
.img{
  width: 69%;
  height: 69%;
  margin: auto;
}
