<a (click)="openModal()"
        class="my-3 mx-auto big-icon btn btn-accent m-btn m-btn--custom m-btn--icon-only m-btn--pill m-btn--icon m-btn--air big-icon mr-3"
        style="width: 70px; height: 70px;">
        <i class="la la-plus" style="font-size: 36px" aria-hidden="true" title="create new notification"></i>
      </a>


<div *ngFor="let notif of notifs" style="margin-top:20px; border-width:5px; border-style:groove;">
<!-- Default form contact -->
<form class="border border-light p-5" >

  <p class="h4 mb-4">Object: {{notif.object}} ... From {{notif.sender}}</p>
  <div>
    
  <!-- Name -->
  <label class="label_css" >Sender: </label>
  <input type="text" id="defaultContactFormName"  value="{{notif.sender}}" class="input_css" readonly>
  
  
  <!-- Email -->
  <label class="label_css">Subject: </label>
  <input type="email" id="defaultContactFormEmail"  value="E-mail" class="input_css"readonly>
  </div>

  <!-- Message -->
  <label class="label_css">Message: </label>
  <div >
    <textarea  class="akahaw" id="exampleFormControlTextarea2" rows="3" value="{{notif.description}}" style="border-style:none; width:100%;" readonly></textarea>
  </div>



  <!-- Send button -->
  <!-- <button class="btn btn-info btn-block" type="submit">Send</button> -->

</form>
<!-- Default form contact -->

</div>